.newProjectContainer {
  width: 450px;
  margin: 0 auto;
  padding: 2em;
}

.newProjectContainer h1 {
  margin-bottom: 0.5em;
}

.newProjectContainer p {
  color: #7b7b7b;
}

.newProject {
  padding: 1em;
}

@media screen and (max-width: 1080px){
  .newProjectContainer {
    margin: 0;
    padding: 0;
    max-width: 370px;
    padding: 1em;
  }
}
